<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Rutgers_Scarlet_Knights_logo.svg/640px-Rutgers_Scarlet_Knights_logo.svg.png"
        alt="" width="35px" class="mr-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gpa">GPA Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gpa-history">GPA History</a>
            </li>
        </ul>
    </div>
</nav>
<!--Hero image-->
<div class="px-4 pt-5 m-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">College Tools</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This website will contain a plethora of tools designed to aid you in your college career. We currently have a GPA calculator, with much more to come. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="https://pbs.twimg.com/media/FU1kuTFXwAUzG-r?format=jpg&name=4096x4096" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
<!--Footer-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 HackRU2023</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg></a></li>
        </ul>
    </footer>
</div>