<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Rutgers_Scarlet_Knights_logo.svg/640px-Rutgers_Scarlet_Knights_logo.svg.png"
        alt="" width="35px" class="mr-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/gpa">GPA Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gpa-history">GPA History</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row px-5">
        <div class="form col-lg-6 col-md-8 p-4">
            <div class="form-heading"><h3>Enter your information</h3></div>
            <p class="mb-2">Name:</p>
            <input type="text">
            <hr>
            <p class="mb-2">Year:</p>
            <input type="text">
            <hr>
            <p class="mb-2">Graduation year:</p>
            <input type="text">
            <hr>
            <!--Dropdown-->
            <label class="m-2" for="membership">Choose your number of classes:</label>
            <select name="membership" id="membership">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <!--Update-->
            <button class="update" id="updatebtn" (click)="update()">Update <span class=reload>&#x21bb;</span></button>
        </div>
    </div>

    <!--Courses-->
    <div class="row">
        <!--Course 1-->
        <div class="col-xl-3 col-sm-6 my-2" id="1">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 1
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 2-->
        <div class="col-xl-3 col-sm-6 my-2" id="2">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 2
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 3-->
        <div class="col-xl-3 col-sm-6 my-2" id="3">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 3
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 4-->
        <div class="col-xl-3 col-sm-6 my-2" id="4">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 4
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <!--Course 5-->
        <div class="col-xl-3 col-sm-6 my-2" id="5">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 5
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 6-->
        <div class="col-xl-3 col-sm-6 my-2" id="6">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 6
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 7-->
        <div class="col-xl-3 col-sm-6 my-2" id="7">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 7
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
        <!--Course 8-->
        <div class="col-xl-3 col-sm-6 my-2" id="8">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-danger">
                    Class 8
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course Name:<input type="text" class="mt-2"
                            placeholder="Data Structures"></li>
                    <li class="list-group-item">Course Number:<input type="text" class="mt-2" placeholder="01:198:112">
                    </li>
                    <li class="list-group-item">Grade Received:<input type="text" class="mt-2" placeholder="B"></li>
                    <li class="list-group-item">Credits Received:<input type="text" class="mt-2" placeholder="3"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <button class="ripple calculate my-2">Calculate GPA</button>
    <p class="gpa">GPA: X</p>
</div>
<!--Footer-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 HackRU2023</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg></a></li>
        </ul>
    </footer>
</div>

<!-- Add Student Modal -->

<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStudentModal">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
                <div class="modal-body">     
                    <div>
                        <label for="name">Name</label>
                        <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
                    </div>
                    <br>
                    <div>
                        <label for="classYear">Class Year</label>
                        <input type="text" ngModel name="classYear" class="form-control" id="classYear" placeholder="Grade Level" required>
                    </div>
                    <br>
                    <div>
                        <label for="gradYear">Graduation Year</label>
                        <input type="gradYear" ngModel name="gradYear" class="form-control" id="gradYear" placeholder="Points" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

-->